body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  width: 100%;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

#canvas {
  padding: 0.5%;
  margin: 0;
}

#prewarn {
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  flex-wrap: wrap;
  margin: 50vh 0;
  text-align: center;
  line-height: 3vh;
  font-weight: 300;
  font-size: 3vh;
  background-color: black;
}

.msg {
  opacity: 1;
}

.input-reg {
  width: 100%;
  text-align: center;

}

.input-reg p {
  color: white;
  font-size: 2vw;
  padding: 0;
  margin: 0;
}

.input-reg span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#input {
  margin: 1%;
  width: 100%;
  border: 0;
  text-align: center;
  font-size: 3vw;
  color: white;
  background-color: black;
}

.info {
  width: 0vw;
  height: 100vh;
  position: fixed;
  color: white;
  background-color: black;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

.info h1 {
  width: 100%;
}

.info h2 {
  color: coral;
}

.git {
  color: cornflowerblue;
}

.intro {
  padding: 2vw 2vh;
  font-size: 3vh;
  white-space: normal;
  flex-wrap: wrap-reverse;
  max-height: 20vh;
  text-align: left;
  overflow-y: hidden;
  color: white;
}

.fa-bars {
  position: fixed;
  top: 3vh;
  left: 2vw;
  font-size: 2vw;
  color: white;
  cursor: pointer;
}

.public {
  position: absolute;
  width: 100%;
  bottom: 2vh;
  color: grey;
}

.public a {
  color: grey;
  text-decoration: underline;
}
